In [1]:
a=10

In [2]:
a

10

In [3]:
a=10

In [4]:
a=10

In [6]:
##compiler understands while 
##we write to know about data type...

In [7]:
a='c'

In [9]:
type(a)

str

In [10]:
#there is no character data type...only string data type

In [11]:
#Typecasting:

In [12]:
int

int

In [13]:
int()

0

In [14]:
int(a)

ValueError: invalid literal for int() with base 10: 'c'

In [15]:
int('123')

123

In [16]:
#number strings can be oconverted easily

In [17]:
print(

SyntaxError: incomplete input (149104261.py, line 1)

In [18]:
print("heloo world")

heloo world

In [19]:
print(123)

123

In [20]:
myage=37
print("my age is:",myage)

my age is: 37

In [23]:
print(f"my age is :{myage})

SyntaxError: unterminated string literal (detected at line 1) (3373312106.py, line 1)

In [26]:
myage=37
print(f" my age is {myage}")

 my age is 37

In [27]:
#fstring use in print function.
##It understands the curly braces

In [28]:
#fstring

In [29]:
#format way

In [30]:
#indexing of numbers start from zero

In [36]:
name="zubair"
age=32
print("my name is {} and age is {}".format(name,age))
print("my name is (firstname) and age is (firstage)".format(firstage=age,firstname=name))

my name is zubair and age is 32
my name is (firstname) and age is (firstage)

In [34]:
print("my name is (firstname) and age is (firstage)".format(firstage=age,firstname=name))

my name is (firstname) and age is (firstage)

In [38]:
name="zubair"
age=34
print("my name is (firstname) and age is (firstage)".format(firstage=age,firstname=name))

my name is (firstname) and age is (firstage)

In [46]:
print(f"my name is (firstname) and age is (firstage)".format(firstage=age,firstname=name))

my name is (firstname) and age is (firstage)

In [43]:
name="zubair aziz"
age=37
degree="btech"
print("my age is {} and i have completed my degree of {} with the name {}".format(age,degree,name))

my age is 37 and i have completed my degree of btech with the name zubair aziz

In [51]:
name="zubair aziz"
age=37
degree="btech"

In [54]:
print(f"my age is {age} and i have completed my degree of {degree} with the name {name}")

my age is 37 and i have completed my degree of btech with the name zubair aziz

#Control flow

###Decision making statements

In [55]:
###if
ifelse
if elif else
nested if
single statement suites

SyntaxError: invalid syntax (2892821425.py, line 3)

In [58]:
age=16
if age>=15:
    print(age)

16

In [59]:
1<4

True

In [60]:
input()

 zubair

'zubair'

In [61]:
name=input()

 sharleez

In [62]:
name=input("enter the name")

enter the name zubair

In [63]:
age=int(input("enter your age"))

enter your age 32

In [64]:
type(age)

int

In [65]:
age

32

In [ ]:
age=int(input("enter age"))
if age>18:
    print("age is greater than 18 and less than 30 and u r young blood")

In [ ]:
age=int(input("enter the age"))
if age>=18 and age<=40:
    print("age is greater than 18 and less than 30 and u r young blood")

In [ ]:
a=int(input("enter ur class"))
if a<=5 and a>=1:
    print("class between 1 and 5")

In [ ]:
a=1